# .gitignore
venv/  # Ignore virtual environment folder
__pycache__/  # Ignore Python cache files
*.pyc  # Ignore compiled Python files

# Ignore .env file
.env

# Other files or directories to ignore

